.contact {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1 1;
    flex: 1 1
}

.section-title {
    font-size: 32px;
    font-weight: 700;
    font-family:"jost",sans;
    letter-spacing:3px;
}

.contact-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1;
    flex: 1 1;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    margin: 16px 0
}

.contact-left {
    max-width: 60%;
    font-size: 20px;
    text-align: center
}

.download {
    background-color: #1e96fc;
    padding: 8px 16px;
    font-size: 24px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 4px
}

.download a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 720px) {
    .contact-container {
        -webkit-flex-direction:column;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center
    }

    .contact-left {
        max-width: 100%;
        margin-bottom: 12px
    }

    .contact-left,.download {
        font-size: 16px
    }
}