.blog{
    padding:1rem;
    width:200px;
    border:1px solid #1e96fc;
    border-width:3px;
    border-radius:5px;
}



.blog-link{
    text-decoration:none;
    background-color:#1e96fc;
    padding:0.5rem 1rem;
    color:white;
    border-radius:5px;

}